    <style>
      li > .event > li {
        text-align:  left;
        padding-left:  12px;
        padding-right:  12px;
        }
    
      .event-tags
      {
        margin-top: 8px;
        }
    
      .nav .nav > li > a
      {
        padding-left: 30px;
        }
    </style>
    <header class="navbar navbar-inverse navbar-static-top" id="top" role="banner">
      <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">CBSmith</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
        <li>
          <a href="/projects">Projects</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
        </ul>
      </nav>
      </div>
    </header>
